.ourStory {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: "oswald",sans-serif;
}


.title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: #ff0000;
}

.contentBox {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.textBox {
  flex: 1;
  background-color: #85A4F3;
  border-radius: 10px;
  padding: 20px;
}

.textBox p{
  font-size: 1.5rem;
}

.mobileTextBox {
  display: none;
  background-color: #85A4F3;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.knowMore {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #85A4F3;
  color: white;
  border: none;
  border-radius: 40px;
  height: 50px;
  cursor: pointer;
  font-size: 25px;
}

.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -40px;
}

.statItem h3 {
  font-size: 2.5rem;
  font-style: "poppins",sans-serif;
  font-weight: 800;
  margin-bottom: 5px;
}

.statItem p {
  margin-top: 0;
  font-size: 2.1rem;
  font-family: "sans-serif",sans-serif;
  font-weight: 500;
}

/* Mobile layout */
@media (max-width: 768px) {
  .contentBox {
    display: none;
  }

  .title{
    font-size:3rem;
  }

  .mobileTextBox {
    display: block;
  }

  .knowMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #85A4F3;
    color: white;
    border: none;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
  }

  .stats {
    flex-direction: column;
    margin-bottom: -40px;
  }

  .statItem {
    margin-bottom: 20px;
  }
}