@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");



.container {
  background-color: black;
  color: white;
  padding: 2rem;
  max-width: 1200px; /* Limit the max width */
  margin: 0 auto; /* Center the container */
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: var(--font-oswald);
  letter-spacing: 0.1em;
}

.titleUnderline {
  border-bottom: 2px solid #ff0000;
  padding-bottom: 0.25rem;
}

.cardContainer {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #000;
  font-family: var(--font-open-sans);
}

@media(max-width: 1440px){

.container {
  background-color: black;
  color: white;
  padding: 2rem;
  max-width: 1200px; /* Limit the max width */
  margin: 0 auto; /* Center the container */
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: var(--font-oswald);
  letter-spacing: 0.1em;
}

.titleUnderline {
  border-bottom: 2px solid #ff0000;
  padding-bottom: 0.25rem;
}

.cardContainer {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #000;
  font-family: var(--font-open-sans);
}

}

/* Responsive Layout */
@media (max-width: 767px) {
  .container {
    padding: 2rem 0rem;
  }

  .title {
    font-size: 2rem;
  }

  .cardContainer {
    gap: 1rem;
  }

  .card {
    background-color:  #8BABFE;
    border-radius: 1rem;
    padding: 1.25rem;
    font-size: 0.9rem;
  }

  .cardText {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }

  .button {
    background:  #8BABFE;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1rem;
  }

  .statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    margin-bottom: -2rem;
  }

  .statItem {
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
    gap: 0.4rem;
  }

  .statNumber,
  .statLabel {
    font-size: 40px;
    line-height: 1.2;
  }

  .statNumber {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  }

  .statLabel {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }

  .statText{
    font-size: 2.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

  }
}