.sponsor-carousel {
  background: linear-gradient(180deg, #85A4F3 3.5%, #5D72AA 100%);
  width: 100%;
  padding: 40px 20px;
  border-radius: 10px;
  box-sizing: border-box; /* Include padding in width */
  overflow: hidden; /* Hide overflow if necessary */
  font-family: "Oswald", sans-serif;

}
.sponsor-carousel__title {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top:10px;
}

.sponsor-carousel__wrapper {
  width: 100%;
  overflow: hidden; /* Hide overflow if necessary */
}

.sponsor-carousel__container {
  width: 200%;
  margin: 0 auto; /* Center the container */
  box-sizing: border-box; /* Include padding in width */
}

.slick-slider {
  .slick-list {
    width: 100%;
  }

  .slick-slide {
    padding: 0;
    
    > div {
      display: flex;
      justify-content: center;
    }
  }

  .slick-dots {
    bottom: -30px;

    li {
      button:before {
        font-size: 12px;
        color: white;
      }

      &.slick-active button:before {
        color: #ff9900;
      }
    }
  }
}

.sponsor-carousel__item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
  }
}


@media (max-width: 1200px) {
  .sponsor-carousel {
    &__item {
      img {
        width: 130px;
        height: 130px;
      }
    }
  }
}

@media (max-width: 992px) {
  .sponsor-carousel {
    &__item {
      img {
        width: 120px;
        height: 120px;
      }
    }
  }
}


  @media (max-width: 480px)  {
    .sponsor-carousel {
      background: linear-gradient(180deg, #85A4F3 3.5%, #5D72AA 100%);
      border-radius: 35px;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      width:94%;
      margin-left: 15px;
      height: 220px;
      border-radius: 10px;
      box-sizing: border-box; /* Include padding in width */
      overflow: hidden; /* Hide overflow if necessary */
      font-family: "Oswald", sans-serif;
    }
  
    .sponsor-carousel__title {
      color: white;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 30px;
      margin-top:-30px;
      padding-top: 0px;
      font-size: 2rem;
    }
    .sponsor-carousel__container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; /* Center the container */
      box-sizing: border-box; /* Include padding in width */
    }
  }


@media (max-width: 768px) {
    .sponsor-carousel {
      &__title {
        font-size: 2rem;
      }
    &__item {
      img {
        width: 110px;
        height: 110px;
      }
    }
  }
}

