.Sponsors {
  display: grid;
  place-items: center;
  align-content: center;
  background-color: black; // Assuming a dark background based on your button styles
  height: 42rem;

  .line-1-child {
    align-self: stretch;
    position: relative;
    border-top: 7px solid #ff2b06;
    box-sizing: border-box;
    // height: 0.3rem;
  }
  .line-1 {
    width: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    // box-sizing: border-box;
    margin-top: 2rem;
  }
  .line-2 {
    width: 5.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
  }
  
  &__past {
    width: 100%;
    max-width: 1200px;
    padding-top: 2rem;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
    border-radius: 30px;
    background-color: rgba(139, 171, 254, 0.75);
    height: 22rem;

    &--heading {
      color: white;
      font-family: "Bebas Neue", serif;
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      margin-top: 2rem;
      margin-bottom: 4rem;
      margin-left: 40%;
      text-align: left;
      
      @include respondAt(767px) {
        font-size: 3.5rem;
      }
      
      @include respondAt(480px) {
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
      }
    }

    .slick-slider {
      margin-bottom: 2rem;
      margin-top: 4rem;

      .slick-slide {
        padding: 0 10px;
      }

      .slick-prev,
      .slick-next {
        z-index: 1;
        width: 40px;
        height: 40px;

        &:before {
          color: #fff;
          opacity: 1;
          font-size: 2rem; //fix on 1440 breakpoint
        }
        position: absolute;
        top: 45%;
        transform: translateY(-200%);
      }

      .slick-prev {
        left: -45px;
      }

      .slick-next {
        right: -45px;
      }

      .slick-dots {
        bottom: 10px;
        li {
          button:before {
            font-size: 12px;
            color: #c7751e;
          }
          &.slick-active button:before {
            color: #fff;
          }
        }
      }
    }

    &--cards__image {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      position: relative;
      z-index: 1;
      padding: 0; 
      padding-top: 1rem;
      
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
      width: 100%;

      &__content {
        border-radius: 1.1875rem;
        border: 2px solid #fff;
        background: linear-gradient(96.81deg, #8babfe 19.33%, #211814);
        width: 12rem;
        padding: 0.75rem 1.5rem;
        color: #fff;
        text-align: center;
        font-family: "Outfit", sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        transition: 0.3s ease-in-out;}
  

        &:hover {
          background:  #8babfe;
        }

        @include respondAt(915px) {
          width: 10rem;
          margin-bottom: 1rem;
        }
        
        @include respondAt(480px) {
          width: 9rem;
          font-size: 1rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }


@media (max-width: 1024px) {
  .Sponsors__past .slick-slider {
    .slick-prev {
      left: -15px;
    }
    .slick-next {
      right: -15px;
    }
    &--cards__image {
      max-width: 60%;
      margin: 0 auto;
    }  
  }
}

@media (max-width: 768px) {
  .Sponsors__past {
    &--heading {
      font-size: 3.5rem;
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }
    .slick-slider {
      .slick-prev,
      .slick-next {
        width: 30px;
        height: 30px;
        &:before {
          font-size: 30px;
        }
      }
      .slick-dots {
        bottom: 60px;
      }
      &--cards__image {
        max-width: 70%;
        margin: 0 auto;
      }    
    }
  }
}

@media (max-width: 600px) {
  .Sponsors__past {
    &--heading {
      font-size: 3rem;
    }
    .slick-slider {
      .slick-prev,
      .slick-next {
        display: none !important;
      }
      .slick-dots {
        bottom: 40px;
      }

    &--cards__image {
      max-width: 75%;
      margin: 0 auto;
    }  
    }
  }
}

@media (max-width: 480px) {
  .Sponsors__past {
    &--heading {
      font-size: 2.5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .slick-slider {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      .slick-slide {
        padding: 0 5px;
      }
      .slick-dots {
        bottom: 20px;
        li {
          button:before {
            font-size: 10px;
          }
        }
      }
    }
    &--cards__image {
      max-width: 25%;
      padding-top: 0.5rem;
    }
    &--button {
      margin: 1.5rem 0;
    }
  }
}
@media (max-width: 360px) {
  .Sponsors__past {
    &--cards__image {
      max-width: 25%;
    }
  }
}
@media (max-width: 320px) {
  .Sponsors__past {
    &--cards__image {
      max-width: 18%;
    }
  }
}