/* General Card Styles */
.cardd {
  /* width: 250px;
  height: 350px; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  will-change: transform;
}

/* Glass Effect for the Image */
.imageWrapperd {
  padding: 20px;

  overflow: hidden;
  border-radius: 10px;
}

/* Image Styles */
.imaged {
  max-width: 20vw;
  object-fit: cover;
  transition: transform 0.6s ease-in-out;
}

/* Description Styles */
.descriptiond {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Slightly more opaque for better readability */
  color: white;

  padding: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.named {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.descriptionTextd {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* On Hover for Vanilla Tilt (desktop only) */
.cardd:hover .descriptiond {
  opacity: 1;
  transform: translateY(0);
}

/* Scroll-based Mobile Behavior */
@media (max-width: 768px) {
  .cardd {
    display: none;
  }

  .card.inView {
    transform: scale(1.15); /* Enlarged when in view */
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    transition: transform 1s cubic-bezier(0.5, 0.05, 0.1, 1),
      box-shadow 0.6s ease-in-out;
  }

  .imageEnlarge {
    transform: scale(1.2); /* Enlarge the image slightly more */
    transition: transform 0.9s cubic-bezier(0.5, 0.05, 0.1, 1); /* Smooth linger effect */
  }

  /* When card is in view, description appears */
  .card.inView .description {
    opacity: 1;
    transform: translateY(0);
  }

  /* Description hidden when not in view */
  .description {
    opacity: 0;
    transform: translateY(100%);
  }
}
