@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

.container {
  border-color: rgba(255, 215, 0, 1);
  background: linear-gradient(180deg, #000 0%, #2929a1 65.44%, #000 87.68%);
  border-bottom-width: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 102px 0 231px;
}

@media (max-width: 991px) {
  .container {
    padding: 124px 0;
  }
}

/* Add ghost text animation */
.title {
  display: block;
  text-align: left;
  align-self: start;
  margin-left: 0px;
  margin-top: -79px;
  color: rgba(255, 250, 205, 3);
  white-space: nowrap;
  text-transform: uppercase;
  font: 500 179px Neue Haas Grotesk Display Pro, -apple-system, Roboto,
    Helvetica, sans-serif;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 2s forwards;
  /* animation-delay: 0.7s; */
}

@media (max-width: 991px) {
  .title {
    margin-left: 2vw;
    max-width: 100%;
    font-size: 50px;
    white-space: initial;
  }
}

.titleThrough {
  display: block;
  text-align: left;
  align-self: start;
  margin-left: 0px;
  margin-top: -79px;
  color: rgba(255, 250, 205, 3);
  white-space: nowrap;
  text-transform: uppercase;
  font: 500 179px Neue Haas Grotesk Display Pro, -apple-system, Roboto,
    Helvetica, sans-serif;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 2s forwards;
  animation-delay: 0.7s;
}

@media (max-width: 991px) {
  .titleThrough {
    margin-left: 2vw;
    max-width: 100%;
    font-size: 50px;
    white-space: initial;
  }
}

.titleEnd {
  text-align: right;
  align-self: end;
  display: block;
  margin-top: 6px;
  color: rgba(255, 250, 205, 3);
  white-space: nowrap;
  text-transform: uppercase;
  font: 500 179px Neue Haas Grotesk Display Pro, -apple-system, Roboto,
    Helvetica, sans-serif;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromRight 2s forwards;
}

@media (max-width: 991px) {
  .titleEnd {
    font-size: 50px;
    margin-right: 10px;
    white-space: initial;
  }
}

.titleEndGlass {
  text-align: right;
  align-self: end;
  display: block;
  margin-top: 6px;
  color: rgba(255, 250, 205, 3);
  white-space: nowrap;
  text-transform: uppercase;
  font: 500 179px Neue Haas Grotesk Display Pro, -apple-system, Roboto,
    Helvetica, sans-serif;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromRight 2s forwards;
  animation-delay: 1.3s;
  /* transition: filter 0.5s ease, transform 0.5s ease; Smooth transition for blur and scale */
}

@media (max-width: 991px) {
  .titleEndGlass {
    font-size: 50px;
    margin-right: 10px;
    white-space: initial;
  }
}

.titleEndGlassBlur {
  animation: applyBlur 1.5s forwards;
  animation-delay: 2.8s;
}
/* Add hover state for blur effect */

/* Animation keyframes */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Starts off-screen on the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Moves into place */
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Starts off-screen on the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Moves into place */
  }
}
@keyframes applyBlur {
  0% {
    filter: blur(0); /* Start with no blur */
  }
  100% {
    filter: blur(3px); /* Apply blur gradually */
  }
}

.contentWrapper {
  align-self: center;
  display: flex;
  margin-top: 11px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 1274px;
  align-items: center;
  gap: 40px 112px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
  }
}

.description {
  align-self: stretch;
  width: 779px;
  min-width: 240px;
  color: rgba(230, 230, 250, 1);
  flex-grow: 1;
  margin: auto 0;
  padding: 10px;
  font: 400 40px/51px IM FELL English, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
    font-size: 1.3rem;
    text-align: center;
  }
}

.imageWrapper {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  width: 255px;
  margin: auto 0;
  padding: 10px;
}

.image {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-shrink: 1;
  min-height: 199px;
  min-width: 140px;
  width: 299px;
  aspect-ratio: 1;
  margin: auto 0;
  background-image: url("/Images/conf24/yetToBe.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 21px -19px 15px rgba(134, 211, 210, 0.7);
  transition: transform 0.3s ease-out; /* Add smooth transition */
}

.divider {
  min-height: 0px;
  margin-top: 25px;
  width: 100%;
  border: 2px solid rgb(240, 215, 74);
}

.divider:nth-of-type(1) {
  margin-top: -10px;
  margin-bottom: -10px;
}

.divider:nth-of-type(2) {
  margin-bottom: 70px;
  margin-top: -15px;
}

.divider:nth-of-type(3) {
  margin-top: -10px;
}

.divider:nth-of-type(4) {
  margin-top: -10px;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
    border: 1px solid rgb(240, 215, 74);
  }
  .divider:nth-of-type(1) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .divider:nth-of-type(2) {
    margin-bottom: 85px;
    margin-top: 0px;
  }
  .divider:nth-of-type(3) {
    margin-top: 5px;
    margin-bottom: -2px;
  }
  .divider:nth-of-type(4) {
    margin-top: 0px;
  }
}

.speakerGrid {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1294px;
  min-height: 100vh;
  font-size: 4vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 83px;
  gap: 30px;
}

.speakerCard {
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: transform 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
  will-change: transform; /* For performance optimization */
  border-radius: 10px;
}

.speakerCard {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font: 4 14px IM FELL English, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .speakerGrid {
    max-width: 300px;
    margin-top: 10px;
    display: grid;
    gap: 10px 111px;
  }
  .speakerCardBottomRight {
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
  }
}

.ticketsSection {
  align-self: center;
  z-index: 10;
  display: flex;
  width: 964px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
}

.ticketsContent {
  display: flex;
  width: 100%;
  max-width: 1308px;
  flex-direction: column;
  color: rgba(230, 230, 250, 1);
  justify-content: start;
}

@media (max-width: 991px) {
  .ticketsContent {
    max-width: 100%;
  }
}

.ticketsTitle {
  align-self: center;
  display: flex;
  min-height: 195px;
  width: 848px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  letter-spacing: 11.04px;
  justify-content: start;
  font: 450 138px Neue Haas Grotesk Display Pro, -apple-system, Roboto,
    Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .ticketsTitle {
    font-size: 40px;
  }
}

.grabYour {
  align-self: stretch;
  padding: 10px;
}

@media (max-width: 991px) {
  .grabYour {
    max-width: 100%;
    font-size: 40px;
  }
}

.ticketsSubtitle {
  align-self: stretch;
  margin-top: 0px;
  width: 100%;
  letter-spacing: 0.68px;
  padding: 10px;
  font: 400 321px "Almendra Display", serif;
}

@media (max-width: 991px) {
  .ticketsSubtitle {
    max-width: 100%;
    font-size: 30vw;
    margin-top: -124px;
    margin-left: -10px;
    margin-bottom: -30px;
  }
}

.ticketButton {
  border-radius: 30px;
  background-color: rgba(255, 215, 0, 0.9);
  overflow: hidden;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 1;
  text-transform: uppercase;
  padding: 10px;
  font: 400 96px IM FELL English, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .ticketButton {
    font-size: 5vw;
    padding: 5px 15px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.speakerCard {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 301px;
  height: 323px;
  flex-grow: 1;
  margin: auto 0;
  border: 3px solid rgba(0, 0, 0, 1);
}

.speakerCardTopLeft {
  border-radius: 30px 0 0 0;
}

.speakerCardTopRight {
  border-radius: 0 30px 0 0;
}

.speakerCardBottomLeft {
  border-radius: 0 0 0 30px;
}

.speakerCardBottomRight {
  border-radius: 0 0 30px 0;
}
